<html>
<head></head>
<body>
    <h1>{{title}}</h1>
    Interesting book
    <ul class="people_list">
        {{#each books}}
            <li>
                <a href='/books/{{this._id}}'>{{this.title}}</a>
            </li>
        {{/each}}
    </ul>
</body>
</html>